## PARTE 1

1. Remova todos os objetos da seção de trabalho do R.

In [ ]:
rm(list = ls())

2. Crie vetores para armazenar os dados de cada uma das colunas.

In [ ]:
N = c(1:36)
Estado_civil = c("solteiro", "casado", "casado", "solteiro", "solteiro", "casado", "solteiro", "solteiro", "casado", "solteiro", "casado", "solteiro", "solteiro", "casado", "casado", "solteiro", "casado", "casado", "solteiro", "solteiro", "casado", "solteiro", "solteiro", "casado", "casado", "casado", "solteiro", "casado", "casado", "casado", "solteiro", "casado", "casado", "solteiro", "casado", "casado")
Grau_de_instrução = c("ensino fundamental", "ensino fundamental", "ensino fundamental", "ensino médio", "ensino fundamental", "ensino fundamental", "ensino fundamental", "ensino fundamental", "ensino médio", "ensino médio", "ensino médio", "ensino fundamental", "ensino médio", "ensino fundamental", "ensino médio", "ensino médio", "ensino médio", "ensino fundamental", "superior", "ensino médio", "ensino médio", "ensino médio", "ensino fundamental", "superior", "ensino médio", "ensino médio", "ensino fundamental", "ensino médio", "ensino médio", "ensino médio", "superior", "ensino fundamental", "superior", "superior", "ensino médio", "superior")
N_de_filhos = c(NA, 1, 2, NA, NA, 0, NA, NA, 1, NA, 2, NA, NA, 3, 0, NA, 1, 2, NA, NA, 1, NA, NA, 0, 2, 2, NA, 0, 5, 2, NA, 1, 3, NA, 2, 3)
Salario = c(400, 456, 525, 573, 626, 666, 686, 739, 759, 744, 812, 846, 874, 895, 913, 935, 977, 980, 1053, 1076, 1106, 1159, 1200, 1279, 1323, 1360, 1385, 1469, 1471, 1599, 1622, 1661, 1726, 1875, 1940, 2330)/100
Idade_Anos = c(26, 32, 36, 20, 40, 28, 41, 43, 34, 23, 33, 27, 37, 44, 30, 38, 31, 39, 25, 37, 30, 34, 41, 26, 32, 35, 46, 29, 40, 35, 31, 36, 43, 33, 48, 42)
Idade_meses = c(03, 10, 05, 10, 07, 00, 00, 04, 10, 06, 06, 11, 05, 02, 05, 08, 07, 07, 08, 04, 09, 02, 00, 01, 05, 00,07, 08, 06, 10, 05, 04, 07, 07, 11, 02)
Regiao = c("interior", "capital", "capital", "outra", "outra", "interior", "interior", "capital", "capital", "outra", "interior", "capital", "outra", "capital", "capital", "interior", "outra", "capital", "outra", "interior", "interior", "outra", "capital", "outra", "outra", "interior", "outra", "outra", "interior", "interior", "capital", "outra", "capital", "capital", "capital", "interior")

3. Crie o data frame TEB formado por todos os vetores da questão 2.

In [ ]:
TEB = data.frame(N, Estado_civil, Grau_de_instrução, N_de_filhos, Salario, Idade_Anos, Idade_meses, Regiao)

4. Verifique a estrutuda do data frame TEB.

In [ ]:
str(TEB)

5. Qual a dimensão (número de linhas e de colunas) do data frame TEB.

In [ ]:
dim(TEB)

6. Renomeie as variáveis (cabeçalho) para: “Identificação”,“Estado Civil”, “Grau de Instrução”, “No. de Filhos”, “Salário”, “IdadeA”, “IdadeM”, “Região de Procedência”.

In [ ]:
colnames(TEB) = c('Identificação', 'Estado Civil', 'Grau de Instrução', 'No. de Filhos', 'Salário', 'IdadeA', 'IdadeM', 'Região de Procedência')

7. Obtenha a tabela de frequência para a variável No. de Filhos.

In [ ]:
freq_filhos = table(TEB[, 4], useNA = "ifany")
freq_filhos

8. Calcule média, mediana, desvio padrão e variância do salário.

In [ ]:
mean(Salario)
median(Salario)
sd(Salario)
var(Salario)

9. Crie o vetor salario1, dado pelo salário acrescido de 20%.

In [ ]:
Salario1 = c(TEB$Salário * 1.2)

10. Crie o vetor salario2, dado pelo salário adicionado de 1,5.

In [ ]:
Salario2 = c(TEB$Salário + 1.5)

11. Crie o vetor salario3, dado pelo salário subtraído de 0,8.

In [ ]:
Salario3 = c(TEB$Salário - 0.8)

12. Crie o vetor salario4, dado pelo salário multiplicado por 2.

In [ ]:
Salario4 = c(TEB$Salário * 2)

13. Crie o vetor salario5, dado pelo salário dividido por 3.

In [ ]:
Salario5 = c(TEB$Salário / 3)

14. Calcule média, mediana, desvio padrão e variância para salario1, salario2, salario3, salario4 e salario5.

Salário1:
13.3466666666667 /
12.198 /
5.50494900456463 /
30.3044635428571

Salário2:
12.6222222222222 /
11.665 /
4.58745750380386 /
21.0447663492063

Salário3:
10.3222222222222 /
9.365 /
4.58745750380386 /
21.0447663492063

Salário4:
22.2444444444444 /
20.33 /
9.17491500760772 /
84.1790653968254

Salário5:
3.70740740740741 /
3.38833333333333 /
1.52915250126795 /
2.33830737213404

15. Os resultados da questão anterior estão de acordo com as propriedades das estatísticas?

Sim, os resultados me parecem estar em conformidade.

16. Salve o data frame dados com o nome “DadosTEB.csv”.

## PARTE 2

17. Remova todos os objetos da seção de trabalho do R.

In [ ]:
rm(list = ls())

18. Leia o arquivo Tabela1.csv e atribua-o a um objeto (data frame) denominado tabela1.

In [ ]:
tabela1 = read.csv('dados/Tabela1.csv', header = TRUE, sep = ';')

19. Renomeie o cabeçalho para: “Identificação”,“Estado Civil”, “Grau de Instrução”, “No. de Filhos”, “Salário”, “IdadeA”, “IdadeM”, “Região de Procedência”.

In [ ]:
colnames(tabela1) = c('Identificação','Estado Civil', 'Grau de Instrução', 'No. de Filhos', 'Salário', 'IdadeA', 'IdadeM', 'Região de Procedência')

20. Crie a variável Idade (em meses) a partir das variáveis IdadeA e IdadeM.

In [ ]:
attach(tabela1)
Idade = c((IdadeA*12)+IdadeM)
detach(tabela1)

21. Adicione a variável Idade ao data frame tabela1.

In [ ]:
tabela1 = cbind(tabela1, Idade)

22. Elimine as colunas IdadeA e IdadeM do data frame tabela1

In [ ]:
tabela1 = tabela1[, -c(6, 7)]

23. Verifique a estrutura do data frame tabela1.

In [ ]:
str(tabela1)

24. Obtenha a dimensão do data frame tabela1.

In [ ]:
dim(tabela1)

25. Obtenha a lista de objetos ativos na seção de trabalho do R.

In [ ]:
ls()

26. Salve o data frame tabela1 com o nome “Tabela1Nova.csv”.

In [ ]:
write.csv(tabela1, file = "Tabela1Nova.csv")

27. Elimine todos os objetos da seção de trabalho do R.

In [ ]:
rm(list = ls())

## PARTE 3

28. Remova todos os objetos da seção de trabalho do R.

In [ ]:
rm(list = ls())

29. Leia o arquivo Tabela2.csv e atribua-o ao objeto (data frame) tabela2. Não altere os nomes das variáveis,a menos que seja solicitado em alguma questão.

In [ ]:
tabela2 = read.table('dados/Tabela2.csv', header = TRUE, sep = ' ')
tabela2

##### 30. Apresente

a) os registros dos empregados de identificação 12 e 32 (ver função subset).

In [ ]:
subset(tabela2, rownames(tabela2) %in% c("12", "32"))